# Project:

In [1]:
import numpy as np
data_file = '/content/KAG_Conversion_Data.csv'
data = np.genfromtxt(data_file,encoding=None ,delimiter=',',skip_header=1,dtype=str)
d2e=np.genfromtxt(data_file, delimiter=",",dtype=float,skip_header=1)
#printing the data
print("\nData: \n\n", data)
#printing the type of data
print("\nType of data: \n\n", type(data))

Data:

 [['708746' '916' '103916' ... '1.429999948' '2' '1']
 ['708749' '916' '103917' ... '1.820000023' '2' '0']
 ['708771' '916' '103920' ... '0' '1' '0']
 ...
 ['1314412' '1178' '179979' ... '40.28999949' '2' '0']
 ['1314414' '1178' '179981' ... '198.7100005' '8' '2']
 ['1314415' '1178' '179982' ... '165.6099987' '5' '2']]

Type of data:

 <class 'numpy.ndarray'>

In [2]:
ad_id = data[:,0]
print(ad_id)

['708746' '708749' '708771' ... '1314412' '1314414' '1314415']

In [3]:
xyzcampaignid = data[:,1]
print(xyzcampaignid)

['916' '916' '916' ... '1178' '1178' '1178']

How many unique ad campaigns (xyzcampaignid) does this data contain ? And for how many times was each campaign run ?

In [30]:
cids=np.unique(xyzcampaignid)
print("Number of unique ids:",cids)

Number of unique ids: ['1178' '916' '936']

In [5]:
data

array([['708746', '916', '103916', ..., '1.429999948', '2', '1'],
       ['708749', '916', '103917', ..., '1.820000023', '2', '0'],
       ['708771', '916', '103920', ..., '0', '1', '0'],
       ...,
       ['1314412', '1178', '179979', ..., '40.28999949', '2', '0'],
       ['1314414', '1178', '179981', ..., '198.7100005', '8', '2'],
       ['1314415', '1178', '179982', ..., '165.6099987', '5', '2']],
      dtype='<U11')

In [29]:
#print(len(data[data[: ,1]=='916']))
#print(len(data[data[:,1] == '1178']))
#print(len(data[data[:,1] == '936']))
print("Campaign id      No. of times")
for i in cids:
  print(i,"               ",len(data[data[:,1]==i]))

Campaign id      No. of times
1178                 625
916                 54
936                 464

What are the age groups that were targeted through these ad campaigns?

In [65]:
age_group = np.unique(data[:,3])
print("Age group of people are: ",age_group)
print(type(data[:,3]))

Age group of people are:  ['30-34' '35-39' '40-44' '45-49']
<class 'numpy.ndarray'>

In [8]:
#What was the average, minimum and maximum amount spent on the ads?

ads_amount=d2e[:,8]
print(ads_amount)

[  1.42999995   1.82000002   0.         ...  40.28999949 198.7100005
 165.6099987 ]

In [9]:
print(np.mean(ads_amount))

51.36065613141295

In [10]:
print(np.min(ads_amount)) # minimum amount spend

0.0

In [11]:
print(np.max(ads_amount)) # maximum amount spend

639.9499981

In [12]:
#id of add having maximum number of clicks
print(np.max(d2e[:,7]))

421.0

In [13]:
clicks = np.array(d2e[:,7])
print(clicks)

[  1.   2.   0. ...  28. 135. 114.]

In [61]:
print(max(clicks))
idx_mclick=list(clicks).index(max(clicks)) #index of add with maximum number of clicks
print("Index of max no. of click is: ",idx_mclick)

421.0
Index of max no. of click is:  860

In [62]:
#ad_id with maximum number of clicks
ad_id_maximum_clicks = d2e[idx_mclick,0]
print(" ad_id with maximum number of clicks: ",ad_id_maximum_clicks)

 ad_id with maximum number of clicks:  1121814.0

In [56]:
total_buying = d2e[:,10]
boughgt_product=total_buying[idx_mclick]
print(boughgt_product)

13.0

In [63]:
if (boughgt_product == max(total_buying)):
  print("Yes, it is the maximum no. of purchases.")
else:
  print("No, it is not the maximum number of purchases.")

No, it is not the maximum number of purchases.

In [60]:
max_purchase = max(total_buying)
print(max_purchase)
idx_mp = list(total_buying).index(max_purchase)
print("The details of the product having maximum number of purchases are: ",data[idx_mp])

21.0
The details of the product having maximum number of purchases are:  ['1121104' '1178' '144533' '30-34' 'M' '16' '2080666' '202' '360.1500015'
 '40' '21']